
.element-1{
  background-color: var(--beige_fonce);
  color: black;
  border: solid black 1px;
  
}

.element-1 div p{
  display: flex;
  align-items: center;
  text-align: center;
  
}

#entete-main{
  justify-content: center;
  font-size: var(--tailleXXL);
}
#sous-entete-main{
  justify-content: center;
  font-size: var(--taille1);
}

.titre_pillier{
  font-size: var(--taille2);
  justify-content: center;
}
.sous_titre_pillier{
  font-size: var(--taille3);
}

#pro {
  background-color: #57AC8A;
}
#pro a{
  color:#000;
}

#perso {
  background-color:#035B9A;
}
#perso a{
  color:#000;
}

.pillier{
  color: #070579;
  background-color: #5A5893;
  margin: 3% 0;
  border: solid black 1px;
  box-shadow: black 0px 25px 35px -15px;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow:auto;
    background-color:var(--black) !important;
}
#ctfs img {
  height:100%; 
  width:100%;
}

#ctfs p {
  justify-content: center;
}
.un_ctf{
  padding: 1% 0;
}
.ctf div {
  color: white;
  background-color:var(--black);
}

.ctf {
  box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 1px 2px rgba(0,0,0,0.30);
  transition: all 0.2s cubic-bezier(.1,.1,.1,1);
}

.ctf:hover {
  background-color:var(--cam_color);
  color: var(--beige);
  transform: translate(0px,-10px);
  box-shadow: 0 50px 50px rgba(0,0,0,0.50), 0 25px 25px rgba(0,0,0,0.50);
}
.titre-element-ctf {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main{
    background-color: var(--beige_fonce);
    padding-top: 7%;
    border-right: 3mm ridge var(--beige_fonce_o);
    border-left: 3mm ridge var(--beige_fonce_o);
}
nav{
  z-index: 5;
  position: fixed;
  color: white;
  background-color: var(--beige_fonce_oo);
}
nav div a {
  display: flex;
  justify-content: center;
}
nav div{
  padding: 1% 0;
}

#nav-menu{
  border: 3mm ridge var(--beige_fonce_o);
}


footer a {
  display: flex;
  justify-content: space-around;
  align-items:flex-start;
}

.div-img{
  padding: 10px 0;
  margin: auto;
}

footer img{
  width: 20%;
}

.footer-div{
  margin: 1%;
}

footer {
  z-index: 5;
  bottom: 0;
  position: relative;
  width: 100%;
  color: black;
  background-color: #57AC8A;
  border: 3mm ridge var(--beige_fonce_o);
}

:root {
    --jaune: #E8C542;
    --jaune2: #F1BC71;
    --beige: #FBFBF3;
    --beige_fonce: #F2EDDB;
    --vert: #09371F;
    --violet: #90769D;
    --cyan: #51A9AB;
    --vert2: #57AC8A;
    --rose: #CFA0B6;
    --bleu_ciel: #73BBBC;
    --beige: #C4C395;
    --bleu_logo: #2E4143;
    --orange_logo:#B17047;
  
    --orange_logo_o: rgba(177, 112, 71,0.8);
    --bleu_logo_o: rgba(46, 65, 67,0.9);
    --cam_color_o: rgba(196, 195, 149, 1.0);
    --violet_o:rgba(144, 118, 157,0.65);
    --bleu_ciel_o:rgba(115, 187, 188, 0.65);
    --cyan_o:rgba(81, 169, 171,0.55);
    --cyan_o2:rgba(81, 169, 171,0.80);
    --jaune_o: rgba(232,197,66,1.0);
    --beige_fonce_o: rgba(242,237,219,1.0);
    --beige_fonce_oo: rgba(242,237,219,0.2);
    --beige_fonce_o2: rgba(255,255,255,0.1);
    --vert_o: rgba(9,55,31,0.70);
    --vert_o2: rgba(9,55,31,0.65);
    --vert_clair:rgba(154, 188, 157,0.7);
    --vert_clair_fonce:rgba(154, 188, 157,1);
    --vert_clair_o:rgba(154, 188, 157,0.2);
    --rouge: rgb(225, 51, 45);
    --rouge_clair:rgb(234, 116, 112);
    --black: rgba(0,0,0,0.9);

    --text: #000;
    --text2: #fff;

    --taille4: 1.2em;
    --taille3: 1.5em;
    --taille2: 2em;
    --taille1: 2.5em;
    --taille0: 4em;
    --tailleXXL: 6em;
  
}

footer .titre_logo{
  display: flex;
  justify-content: center;
}







body {
  font-family: Calibri, Segoe, "Segoe UI", "Gill Sans", "Gill Sans MT", sans-serif;
}

/* It's supposed to look like a tree diagram */
.tree, .tree ul, .tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree {
    margin: 0 0 1em;
    text-align: center;
}
.tree, .tree ul {
    display: table;
}
.tree ul {
  width: 100%;
}
    .tree li {
        display: table-cell;
        padding: .5em 0;
        vertical-align: top;
    }
        /* _________ */
        .tree li:before {
            outline: solid 1px #666;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
        .tree li:first-child:before {left: 50%;}
        .tree li:last-child:before {right: 50%;}

        .tree code, .tree span {
            border: solid .1em #666;
            border-radius: .2em;
            display: inline-block;
            margin: 0 .2em .5em;
            padding: .2em .5em;
            position: relative;
        }
        /* If the tree represents DOM structure */
        .tree code {
            font-family: monaco, Consolas, 'Lucida Console', monospace;
        }

            /* | */
            .tree ul:before,
            .tree code:before,
            .tree span:before {
                outline: solid 1px #666;
                content: "";
                height: .5em;
                left: 50%;
                position: absolute;
            }
            .tree ul:before {
                top: -.5em;
            }
            .tree code:before,
            .tree span:before {
                top: -.55em;
            }

/* The root node doesn't connect upwards */
.tree > li {margin-top: 0;}
    .tree > li:before,
    .tree > li:after,
    .tree > li > code:before,
    .tree > li > span:before {
      outline: none;
    }

    .bon_chemin{
      background-color: #7AAE75;
      color:#CC196D;
      font-weight: bold;
    }
    .bon_chemin_2{
      background-color: #E19E47;
      color:#CC196D;
      font-weight: bold;
    }

